<div class="container">
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= @cocktail.name %></h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <% @cocktail.doses.each do |dose| %>
        <li class="list-group-item">
          <div class="card-grid-3">
            <div>
              <%= dose.ingredient.name%>
            </div>
            <div>
              <%= dose.description%>
            </div>
            <div>
              <%= link_to dose_path(dose), method: :delete, data: { confirm: 'Are you sure?'},  class:"card-link" do%>
              <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
    <div class="card-body">
      <%= link_to new_cocktail_dose_path(@cocktail),  class:"card-link" do%>
      <i class="fas fa-plus-circle"></i>
      <% end %>
    </div>
  </div>
</div>
